* {
    font-family: "Open Sans", serif;
}

html, body {
    margin: 0;
}

.app {
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex; /* Asegura una estructura consistente */
    flex-direction: column; /* Ordena los hijos en columna */
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}