@use '../styles/main.scss' as m;

.feed {
    @include m.center;
    align-items: flex-start;
    width: 30rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    &__content {
        width: 100%;
        @include m.column;
    }
    &__end {
        @include m.whitebox; 
        @include m.center;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .feed {
        @include m.center;
        align-items: flex-start;
        padding-bottom: 4rem;
        width: 90%;
        &__content {
            width: 100%;
            @include m.column;
        }
        &__end {
            border-radius: 0;
        }
    }
}

@media (max-width: 500px) {
    .feed {
        @include m.center;
        align-items: flex-start;
        width: 100%;
        padding-bottom: 4rem;
        &__content {
            width: 100%;
            @include m.column;
        }
    }
}