@use '../../styles/main.scss' as m;

.hdmob {
    &__top {
        background-color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        height: 3rem;
        z-index: 500;
        border-bottom: 1px solid gainsboro;
        @include m.center;
        &__content {
            width: 95%;
            @include m.between;
            &__sections {
                @include m.between;
                .hdmob-section {
                    .hdmob-sec-ico {
                        color: m.$gray;
                        width: 2rem;
                        height: auto;
                    }
                }
            }
        }
    }

    &__bottom {
        background-color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 3rem;
        z-index: 500;
        border-top: 1px solid gainsboro;
        @include m.center;
        align-items: flex-start;
        &__content {
            width: 90%;
            @include m.between;
            /* border: 1px solid red; */
            margin-top: .3rem;
            .hdmob-section {
                position: relative;
                cursor: pointer;
                .hdmob-sec-ico {
                    color: m.$gray;
                    width: 2rem;
                    height: auto;
                }
                .hdmob-noread {
                    position: absolute;
                    width: 1.15rem; 
                    height: 1.15rem;
                    border-radius: 100%;
                    @include m.center; 
                    background-color: m.$secondary-color; 
                    color: #fff;
                    font-weight: 500;
                    font-size: .85rem;
                    right: -.3rem;
                }
            }
        }
    }
}